{% extends 'base.html.twig' %}

{% block title %}{{ 'Objective'|trans }}{% endblock %}

{% block body %}
    <div id="objective" data-id="{{ objective.id }}" class="col-sm-6 offset-sm-3">
        <div class="row text-center">
            <div class="col-2 h1">
                <a href="{{ path('program_show', {'id': objective.program.id}) }}"><i class="fas fa-caret-left"></i></a>
            </div>
            <div class="col-8">
                <h1>{{ objective.prayerName }}</h1>
                <h6><span class="text-info">{{ objective.program }}</span></h6>
                <h6 class="small text-muted">#{{ objective.id }} {{ 'added at %date%'|trans({'%date%' : objective.createdAt.format('d/m/Y H:i') }) }}</h6>
            </div>
            <div class="col-2">
                <div><a href="{{ path('objective_edit', {'id': objective.id}) }}" class="btn btn-link"><i class="fas fa-edit"></i></a></div>
                {{ include('objective/_delete_form.html.twig') }}
            </div>
        </div>

        {% include 'objective/_counter.html.twig' %}

        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab" aria-controls="pills-stats" aria-selected="true">{{ 'stats' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-last-tab" data-toggle="pill" href="#pills-last" role="tab" aria-controls="pills-last" aria-selected="true">{{ 'Last prayers'|trans }}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
                <div class="chart-container" style="position: relative;  width:100%">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="tab-pane fade show" id="pills-last" role="tabpanel" aria-labelledby="pills-last-tab">
                <table class="table table-sm table-responsive-sm mt-3">
                    <thead>
                        <tr>
                            <th>{{ 'Date'|trans }}</th>
                            <th>{{ 'Prayer'|trans }}</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prayer in lastPrayers %}
                            <tr>
                                <td>{{ prayer.createdAt.format('d/m/Y H:i:s') }}</td>
                                <td>{{ prayer.prayerName }}</td>
                                <td><a href="#" class="text-danger btn-link btn"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ asset('js/prayer.js') }}"></script>

    <script type="application/javascript">
        $(function () {
            let dataChart = {
                type: 'bar',
                data: { labels : [], datasets : [{ backgroundColor: '#ff0000', data : [], labels: 'prayers' }]},
                options: {
                    title: {
                        display: true,
                        text: 'Prayer number by day'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            }

            let id  = $('#objective').data('id')
            $.post(Routing.generate('api_objective_stats', { id : id }))
                .done(function (response) {
                    Object.keys(response).map(function(objectKey, index) {
                        let value = response[objectKey];
                        dataChart.data.labels.push(objectKey)
                        dataChart.data.datasets[0].data.push(value)
                    });

                    let ctx = document.getElementById('canvas').getContext('2d');
                    window.myBar = new Chart(ctx, dataChart);
                })
                .fail(function () {

                })


        })
    </script>
{% endblock %}
