{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="offset-sm-4 col-sm-4">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 my-3 font-weight-bold text-center">{{ 'Please sign in'|trans }}</h1>
        <div class="mt-5 form-group">
            <input type="text" value="{{ last_username }}" name="username" placeholder="{{ 'Username'|trans }}" id="inputUsername" class="form-control" required autofocus>
        </div>
        <div class="my-4 form-group">
            <input type="password" name="password" id="inputPassword" placeholder="{{ 'Password'|trans }}" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group form-check">
            <label>
                <input type="checkbox" name="_remember_me"> {{ 'Remember me'|trans }}
            </label>
        </div>

        <div class="text-center">
            <button class="btn btn-lg btn-block btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> {{ 'Connect you'|trans }}</button>
        </div>


        <div class="mt-4 text-center">
            <a href="{{ path('app_register') }}" class="btn btn-link">{{ 'Register you'|trans }}</a>
        </div>
    </form>
</div>
{% endblock %}
