{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="text-center"><small>{{ '%count% users'|trans({'%count%' : users}) }}</small></div>
    <h1 class="text-center mt-5"><i class="far fa-calendar-check"></i></h1>
    <h1 class="text-center mb-5">{{ 'Hello on Prayer Program'|trans }}</h1>
    <div class="text-center">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div><a href="{{ path('app_login') }}" class="btn btn-dark btn-lg"><i class="fas fa-sign-in-alt"></i> {{ 'Connect you'|trans }}</a></div>
            <div>{{ 'or'|trans }}</div>
            <div><a href="{{ path('app_register') }}" class="btn btn-dark btn-lg"><i class="fas fa-user-edit"></i> {{ 'Register you'|trans }}</a></div>
        {% else %}
            <h3 class="text-info">{{ app.user }}</h3>
            <ul>
                {% for program in programs  %}
                    <li>{{ program|capitalize }} <a href="{{ path('program_show', {'id': program.id }) }}">{{ 'show'|trans }}</a></li>
                {% else %}
                    {{ 'Create your first program'|trans }}
                {% endfor %}
            </ul>

            <a href="{{ path('program_new') }}" class="btn btn-primary">{{ 'New Program'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
