{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <div class="text-center">

        <h1 class="mb-4 font-weight-bold">{{ 'Program list'|trans }}</h1>

        <a href="{{ path('program_new') }}" class="btn btn-info btn-block btn-lg"><i class="fas fa-plus"></i> {{ 'Create new'|trans }}</a>

        <table class="mt-5 table table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Objectives</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for program in programs %}
                <tr>
                    <td>{{ program.id }}</td>
                    <td><a href="{{ path('program_show', {'id': program.id}) }}">{{ program.name }}</a></td>
                    <td><a href="{{ path('program_show', {'id': program.id}) }}">{{ program.objectives.count }}</a></td>
                    <td>
                        <a href="{{ path('program_show', {'id': program.id}) }}"><i class="fas fa-file-alt"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('program_edit', {'id': program.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
