{% extends 'base.html.twig' %}

{% block title %}{{ 'New Program'|trans }}{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="font-weight-bold mb-5">{{ 'Create new Program'|trans }}</h1>

        {{ include('program/_form.html.twig') }}

        <a href="{{ path('app_home') }}" class="d-block mt-4">{{ 'Cancel'|trans }}</a>
    </div>
{% endblock %}
