{% extends 'base.html.twig' %}

{% block title %}{{ 'Program'|trans }}{% endblock %}

{% block body %}
    <div class="offset-sm-4 col-sm-4 text-center">
        <div class="row">
            <div class="col-2 text-left">
                <a href="{{ path('program_index') }}" class="h1"><i class="fas fa-caret-left"></i></a>
            </div>
            <div class="col-8">
                <h6 class="text-muted small">{{ 'Program'|trans }}</h6>
                <h2 class="text-info font-weight-bold">{{ program }}</h2>
            </div>
            <div class="col-2 text-right">
                <div><a href="{{ path('program_edit', {'id': program.id}) }}" class="btn btn-link"><i class="fas fa-edit"></i></a></div>
                <div>{{ include('program/_delete_form.html.twig') }}</div>
            </div>
        </div>
        <div>
            <small class="text-muted ">
                <span>#{{ program.id }} - </span>
                <span class="font-italic">{{ 'Created at %date%'|trans({'%date%' : program.createdAt.format('d/m/Y H:i:s') }) }}</span>
            </small>
        </div>

        <div class="my-5">
            {% include 'program/_modal_objective.html.twig' %}
            {% if program.objectives.count  %}
                {% set accomplished, total = 0, 0 %}
                {% for objective in program.objectives %}
                    {% set accomplished = accomplished + objective.prayers.count %}
                    {% set total = total + objective.number %}
                    {% include 'objective/_counter.html.twig' %}
                {% endfor %}


                <div class="stats mt-4">
                    <h1 id="program-sub">{{ total - accomplished }}</h1>
                    <div class="h6 row">
                        <div class="col-5"> <span id="program-count">{{ accomplished }}</span> / {{ total }}</div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <span id="program-percent">{{ ( accomplished / total * 100)|round(2) }}</span>%
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="h5 text-primary font-weight-bold">{{ 'Your Program is added'|trans }}</p>
                <p>{{ 'program_show_without_objective'|trans }}</p>
                <button type="button" class="btn btn-danger btn-block btn-lg" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i> {{ 'Add new objective'|trans }}</button>
            {% endif %}
        </div>


    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-circle.btn-md {
            width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 10px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/prayer.js') }}"></script>
    <script type="application/javascript">
        $(function () {
            $('#add-objective').click(function (event) {
                event.preventDefault();
                let program = $(this).data('program')
                let prayerName = $('#objective_prayerName').val()
                let number = $('#objective_number').val()
                let modal = $(this).parents('.modal')

                $.post(Routing.generate('api_objective_new', { id : program }), { prayerName : prayerName, number : number})
                    .done(function (response) {
                        modal.modal('hide')
                        document.location.reload()
                    })
                    .fail(function (response, ctx) {
                        console.log(response, ctx)
                    })
            })
        })
    </script>
{% endblock %}
