{% extends 'base.html.twig' %}

{% block title %}{{ 'Program'|trans }}{% endblock %}

{% block body %}
    <div class="offset-sm-2 col-sm-8 text-center">
        {% include 'program/_header.html.twig' %}

        {% if program.dayObjective %}
            <div class="text-center h6 my-1 card">
                <div class="card-body">{{ 'Daily objective :' }} <span id="program-count-day" data-daily-objective="{{ program.dayObjective }}" class="font-weight-bold">--</span>/{{ program.dayObjective }}</div>
            </div>
        {% endif %}

        <div class="my-2">
            {% include 'program/_modal_objective.html.twig' %}
            {% if program.objectives.count  %}
                {% set accomplished, total = 0, 0 %}
                {% for objective in program.objectives %}
                    {% set accomplished = accomplished + objective.prayers.count %}
                    {% set total = total + objective.number %}
                    {% include 'objective/_counter.html.twig' %}
                {% endfor %}


                <div class="stats card my-4">
                    <div class="card-title">{{ 'Global overview'|trans }}</div>
                    <div class="card-body">
                        <h1 id="program-sub" class="font-weight-bold">{{ total - accomplished }}</h1>
                        <div class="h6 row">
                            <div class="col-5"> <span id="program-count">{{ accomplished }}</span> / {{ total }}</div>
                            <div class="col-2"></div>
                            <div class="col-5">
                                <span id="program-percent">{{ ( accomplished / total * 100)|round(2) }}</span>%
                            </div>
                        </div>
                    </div>
                </div>

                <figure class="highcharts-figure">
                    <div id="chart"></div>
                </figure>
            {% else %}
                <p class="h5 text-primary font-weight-bold mt-4">{{ 'Your Program is added'|trans }}</p>
                <p class="mb-4">{{ 'program_show_without_objective'|trans }}</p>
                <button type="button" class="btn btn-danger btn-block btn-lg" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i> {{ 'Add new objective'|trans }}</button>
            {% endif %}
        </div>


        <div>
            <small class="text-muted ">
                <span id="program" data-id="{{ program.id }}">#{{ program.id }} - </span>
                <span class="font-italic">{{ 'Created at %date%'|trans({'%date%' : program.createdAt.format('d/m/Y H:i:s') }) }}</span>
            </small>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-circle.btn-md {
            width: 60px;
            height: 60px;
            padding: 7px 10px;
            border-radius: 30px;
            font-size: 1.6rem;
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bower/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('js/program.js') }}"></script>
    <script src="{{ asset('js/prayer.js') }}"></script>
    <script type="application/javascript">
        $(function () {
            $('#add-objective').click(function (event) {
                event.preventDefault();
                let program = $(this).data('program')
                let prayerName = $('#objective_prayerName').val()
                let number = $('#objective_number').val()
                let modal = $(this).parents('.modal')

                $.post(Routing.generate('api_objective_new', { id : program }), { prayerName : prayerName, number : number})
                    .done(function (response) {
                        modal.modal('hide')
                        document.location.reload()
                    })
                    .fail(function (response, ctx) {
                        console.log(response, ctx)
                    })
            })


        })
    </script>
{% endblock %}
