{% extends 'base.html.twig' %}
{% trans_default_domain 'contact' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Contactez-nous</h1>
    <div class="mt-5">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        <button class="btn btn-lg btn-block btn-info my-4"><i class="fas fa-save"></i> {{ button_label|default('send'|trans) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
