<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | PRAYER PROGRAM |</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower/fontawesome/css/all.css') }}">
            <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/yeti/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100" cz-shortcut-listen="true">
        {% include 'header.html.twig' %}

        <main role="main" class="container pb-3">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div id="alert-js" class="alert alert-dismissible fade d-none text-center" role="alert">
                <span id="alert-message"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% block body %}{% endblock %}
        </main>
        <footer class="container-fluid text-center text-white mt-2 pb-5 pt-2">
            <a href="{{ path('contact') }}">{{ 'Contact us'|trans }}</a>
            <div>&copy; Tech&Call 2020 - Prayer Program</div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower/popper.js/src/popper.js') }}"></script>
            <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <script type="application/javascript">
                $(function () {
                    if ($('.alert').length) {
                        setTimeout(function(){ $('.alert').alert('close'); }, 3000);
                    }
                })
            </script>
        {% endblock %}
    </body>
</html>
