<header style="margin-bottom: 4rem">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold" href="{{ path('app_home') }}"><i class="far fa-calendar-check"></i> PRAYER PROGRAM</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">{{ 'Home'|trans }}</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">{{ 'Profile'|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_dashboard_index') }}">{{ 'Admin'|trans }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('app_logout') }}" class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i> {{ 'Logout'|trans }}</a>
            {% endif %}
        </div>
    </nav>
</header>
